<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enables component scanning -->
    <context:component-scan base-package="com.nit.sbeans"/>

    <!-- Example Bean definition -->
    <bean id="project" class="com.nit.sbeans.Project">
    		<constructor-arg name="projectId" value="101" />
    		<constructor-arg name="projectName" value="E-Comerce"/>
    		<constructor-arg name="duration" value="6"/>
    </bean>
   
    
    <bean id="employee" class="com.nit.sbeans.Employee">
    <constructor-arg name="employeeId" value="710"/>
    <constructor-arg name="employeeName" value="Sonu Ansari"/>
    </bean>
    
    <bean id="department" class="com.nit.sbeans.Department">
    <constructor-arg name="departmentName" value="IT Department"/>
    <constructor-arg>
    <list>
    <ref bean="employee"/>
    </list>
    </constructor-arg>
    </bean>
    
    <bean id="company" class="com.nit.sbeans.Company">
    <constructor-arg name="companyName" value="Naresh IT"/>
    	<constructor-arg>
    	<map>
    		<entry key="Naresh IT" value-ref="department"/>
    	</map>
    	</constructor-arg>
    </bean>

</beans>